<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>
<h2>All rooms</h2>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Room id</th>
            <th>Name</th>
            <th>Country</th>
            <th>Open room</th>
        </tr>
        <tr th:each ="room : ${rooms}">
            <td th:utext="${room.id}">...</td>
            <td th:utext="${room.name}">...</td>
            <td th:utext="${room.country.countryName}">...</td>
            <td> <a th:href="@{'/openRoom/'+ ${room.id}}">open<a/> <td/>
        </tr>
    </table>
</div>
<br/>
<div th:if="${WrongRoomMessage}" th:utext="${WrongRoomMessage}"
     style="color:red;" >
</div>
<br/>


<h3>Add new room</h3>
<br/>
<form th:action="@{/addRoom}"
      th:object="${room}" method="POST">
    Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Country:
        <select  id="selectCountry" th:field="*{country}">
            <option value="">Select country</option>
            <option th:each="country : ${countries}"
                    th:value="${country.id}"
                    th:text="${country.countryName}"></option>
        </select>
    <br/>
    <input type="submit" value="Add" />
</form>
<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;" >
</div>

</body>
</html>